$primary-color: #0c4022;
$secondary-color: #072615;
$tertiary-color: #187a3a71;
$text-color: #0D0D0D;
$highlight-color: #9FC131;
$scroll-color:#156b335b;
$main-title-color:#465515;
$white-color: #F2F2F2;